# Based on the "trust" template v0.1.1
# https://github.com/japaric/trust/tree/v0.1.1

dist: trusty
language: rust
services: docker
sudo: required

# TODO Rust builds on stable by default, this can be
# overridden on a case by case basis down below.

env:
  global:
    - CRATE_NAME=self_update

matrix:
  # TODO These are all the build jobs. Adjust as necessary. Comment out what you
  # don't need
  include:
    # Linux
    - env: TARGET=i686-unknown-linux-gnu
    #- env: TARGET=i686-unknown-linux-musl
    - env: TARGET=x86_64-unknown-linux-gnu
    - env: TARGET=x86_64-unknown-linux-musl

    # OSX
    - env: TARGET=i686-apple-darwin
      os: osx
    - env: TARGET=x86_64-apple-darwin
      os: osx

    # *BSD
    #- env: TARGET=i686-unknown-freebsd DISABLE_TESTS=1
    #- env: TARGET=x86_64-unknown-freebsd DISABLE_TESTS=1
    #- env: TARGET=x86_64-unknown-netbsd DISABLE_TESTS=1

    ## Other architectures
    #- env: TARGET=aarch64-unknown-linux-gnu
    #- env: TARGET=armv7-unknown-linux-gnueabihf
    #- env: TARGET=mips-unknown-linux-gnu
    #- env: TARGET=mips64-unknown-linux-gnuabi64
    #- env: TARGET=mips64el-unknown-linux-gnuabi64
    #- env: TARGET=mipsel-unknown-linux-gnu
    #- env: TARGET=powerpc-unknown-linux-gnu
    #- env: TARGET=powerpc64-unknown-linux-gnu
    #- env: TARGET=powerpc64le-unknown-linux-gnu
    #- env: TARGET=s390x-unknown-linux-gnu DISABLE_TESTS=1

    # Testing other channels
    - env: TARGET=x86_64-unknown-linux-gnu
      rust: nightly
    - env: TARGET=x86_64-apple-darwin
      os: osx
      rust: nightly

before_install: set -e

install:
  - sh ci/install.sh
  - source ~/.cargo/env || true

script:
  - bash ci/script.sh

after_script: set +e

before_deploy:
  - sh ci/before_deploy.sh

deploy:
  # TODO update `api_key.secure`
  # - Create a `public_repo` GitHub token. Go to: https://github.com/settings/tokens/new
  # - Encrypt it: `travis encrypt 0123456789012345678901234567890123456789
  # - Paste the output down here
  api_key:
    secure: Gh2ajJhrtdQULNy6S6xIBy6DYsd1T9U/LvbitiwkjIrv0v7lZl43KkpSvJ8TWC2m1+e8K7zOb4Ic+La+VY4B2ucQpsUCh/bLYeOejfsUmKgQt6ps6HdplVEuZftkMzrW4jPJOOsRED8t+clCw+vYJZA7c17Vf96fmT2tlHJW7O9+kb+sqd/vFZoEl4c9CSWhGaur7TFQ31TUvsQvHcICb9KPwb6FB4ovkwMzkKDStzTCNKyt4gFF7tjHSlVE00t/esui3iMcm8OwAY/Yb6umXm8bAFoCGKfnHyYSYobBQV/iRl7g1URPn35VP7V/WqqyocgJnta8H6NB1olAOg6TmPrQn2zk/fcpJqaqLFmOwGoUwEVxn0wenmfWoxDiTNyt1s93CMw0+sz14d4xnVizGa4MZypTObraoxqLZu6/k42v8mDpgnaIymP+PnYh63RuYKSyBwVPBDY4rlRTY/KeYZIGv1/B4cKGJfuFQq9NNxWcNqpxzJ0gYfDQf/fUYV6aqHKXn2ZTiDM1vCZDPD07Kf0veBzeJzhBlBuDEJx+33GEbVRc0sR7ix1mz8X2PSDMrh4jpNHQCMSG6xu6t1muXDadruOWlQVdOwr3RnVKaaadF4Qnsf78p2fpGDHVXGekUCag6tX1Oic7dQANJaIWNYdL7M5uqyIXFP5hXraCOVE=
  file_glob: true
  file: $CRATE_NAME-$TRAVIS_TAG-$TARGET.*
  on:
    # TODO Here you can pick which targets will generate binary releases
    # In this example, there are some targets that are tested using the stable
    # and nightly channels. This condition makes sure there is only one release
    # for such targets and that's generated using the stable channel
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true

cache: cargo
before_cache:
  # Travis can't cache files that are not readable by "others"
  - chmod -R a+r $HOME/.cargo

branches:
  only:
    # release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  email:
    on_success: never
